<footer>
  <div class="footer-social-media">
    <!--<p>In-depth social media icons would go here (likes, follows, etc). I need to look into the frameworks for those sites to make it happen.</p>-->
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fthebleepythings%2F&width=51&layout=box_count&action=like&size=small&show_faces=false&share=true&height=65&appId" width="51" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  <!--<div class="newsletter">-->
    <!--<label for="email">Subscribe to Our Newsletter: </label>-->
    <!--<input id="email" type="email" name="email">-->
    <!--<input type="submit" value="SUBSCRIBE">-->
  <!--</div>-->
</footer>
