<section style="padding-top:53px;">
  <h1>Buy The Bleepy Things Tickets!</h1>
  <p>
    You can use square to purchase tickets to upcoming shows! All tickets are currently purchased as will-call.
  </p>
  <div style="text-align: center;">
    <a href="https://squareup.com/store/the-bleepy-things/item/ticket-to-the-show" target="_blank">
      <img src="../../../assets/images/shows/4-20-bleepy-things-show.jpg" style="width:25%;"/>
    </a>
    <p>
      4/20 show! Get lit with the best! <a href="https://squareup.com/store/the-bleepy-things/item/ticket-to-the-show">Grab tickets to the show through square here!</a>
    </p>
  </div>
</section>
