<nav id="navBar">
  <ul class="navigation">
    <li><a class="mobileMenu" href="javascript:void(0);" (click)="menuClick($event)" (blur)="menuClick($event)">Menu<span class="icon">&#9776;</span></a></li>
    <li><a routerLink="/" class="menuItem">Home</a></li>
    <li><a routerLink="/news" class="menuItem">News</a></li>
    <li><a routerLink="/videos" class="menuItem">Videos</a></li>
    <li><a routerLink="/photos" class="menuItem">Photos</a></li>
    <li><a routerLink="/music" class="menuItem">Music</a></li>
    <li><a routerLink="/contact" class="menuItem">Contact</a></li>
    <!--<li><a class="icon" href="javascript:void(0);" (click)="menuClick()">&#9776;</a></li>-->
  </ul>
  <ul class="socialMedia">
    <li><a href="https://www.facebook.com/thebleepythings/"><img class="socialMediaIcon" src="../../../assets/images/navbar/fb-icon.png" /></a></li>
    <li><a href="https://twitter.com/thebleepythings"><img class="socialMediaIcon" src="../../../assets/images/navbar/twitter-icon.png" /></a></li>
    <li><a href="https://soundcloud.com/user-742347752"><img class="socialMediaIcon" src="../../../assets/images/navbar/soundcloud-icon.png" /></a></li>
    <li><a href="#"><img class="socialMediaIcon" src="../../../assets/images/navbar/instagram-icon.png" /></a></li>
  </ul>
</nav>
